html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgb(11, 11, 24);
  color: rgba(255, 255, 255, 0.8);
}

img {
  max-width:100%;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  cursor: pointer;
}

.btn {
  padding: 12px 50px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(11, 11, 24);
  text-decoration: none;
}

.l-wrap {
  box-sizing: border-box;
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.section {
  margin-bottom: 120px;

  & + & {
    margin-top: 120px;
  }
}

.a11y {
  overflow: hidden;
  display: inline-block;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.list-box {
  display: flex;
  flex-wrap: wrap;
  
  
  &__item {
    margin-top: 5px;
    margin-right: 5px;
    padding: 1px 6px 2px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
  }
}