.detail {
  .hero-section {
    position: relative;
    margin: 0 auto;
    padding-top: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before,
    &::after {
      position: absolute;
      z-index: 0;
      mix-blend-mode: unset;
      content: '';
    }

    &::before {
      top: 0;
      right: 0;
      width: 10vw;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(11, 11, 24, 0) 0%,
        rgba(11, 11, 24, 0.4) 60%,
        rgba(11, 11, 24, 1) 100%
      );
    }

    &::after {
      top: 0;
      left: 0;
      width: 10vw;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(11, 11, 24, 0) 0%,
        rgba(11, 11, 24, 0.4) 60%,
        rgba(11, 11, 24, 1) 100%
      );
    }
  }

  &__cont {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
  }
}
