.pagination {
  display: flex;
  justify-content: center;
  margin-top: 120px;

  &__btn {
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 10px 12px;
    background-color: rgb(11, 11, 24);
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;

    & + & {
      border-left: none;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.is-active {
      background: rgba(255, 255, 255, 0.8);
      color:  rgb(11, 11, 24);
      font-weight: bold;
    }

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}